In [5]:
import pandas as pd

In [6]:
data = pd.read_csv("diabetes2.csv")
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
# Наші критерії:
# 0 = молодий, 1 = середній, 2 = старий

column_age = []

for age in data['Age']:
    if age < 25:
        column_age.append("0")
    elif 25 < age < 45:
        column_age.append("1")
    else:
        column_age.append("2")


data["Age_Categorical"] = column_age

In [8]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Age_Categorical
0,6,148,72,35,0,33.6,0.627,50,1,2
1,1,85,66,29,0,26.6,0.351,31,0,1
2,8,183,64,0,0,23.3,0.672,32,1,1
3,1,89,66,23,94,28.1,0.167,21,0,0
4,0,137,40,35,168,43.1,2.288,33,1,1

In [9]:
for i in range(0,3):
    print("If Age Category: ", i, " , number of outcomes(0): ", len( data[ (data['Age_Categorical'] == str(i)) & (data['Outcome'] == 0) ]) )
    print("If Age Category: ", i, " , number of outcomes(1): ", len( data[ (data['Age_Categorical'] == str(i)) & (data['Outcome'] == 1) ] ) ,"\n")

If Age Category:  0  , number of outcomes(0):  188
If Age Category:  0  , number of outcomes(1):  31

If Age Category:  1  , number of outcomes(0):  211
If Age Category:  1  , number of outcomes(1):  157

If Age Category:  2  , number of outcomes(0):  101
If Age Category:  2  , number of outcomes(1):  80