In [22]:
import numpy as np
import pandas as pd
import itertools

In [23]:
def f12(x1, x2):
    return 5*pow(x1, 2) + 6*x1*pow(x2,2) - 7*pow(x2,2)+ 40

def f21(x1, x2):
    return 4*pow(x2,2) - 8*x2 + 10*pow(x1,2)*x2 - 32*x1 + 64

In [24]:
step1, step2 = 0.02, 0.01
a1, b1 =0, 3
a2, b2 = 0, 2

In [25]:
x_grid = [np.arange(a1, b1+step1/10, step1), np.arange(a2, b2+step2/10, step2)]
indexes = list(itertools.product(x_grid[0], x_grid[1]))
index = pd.MultiIndex.from_tuples(indexes, names=["x1", "x2"])
values = np.array([(f12(x1, x2), f21(x1, x2)) for x1 in x_grid[0] for x2 in x_grid[1]])
df = pd.DataFrame(values, index=index, columns=["f12", "f21"])
pd.options.display.max_rows = 14

In [26]:
max_x1_min_x1 = df.groupby("x1").min().max()["f12"]
print("f12*")
print(df.loc[df['f12'] == max_x1_min_x1]["f12"])
max_x2_min_x2 = df.groupby("x2").min().max()["f21"]
print("\nf21*")
print(df.loc[df['f21'] == max_x2_min_x2]["f21"])

f12*
x1   x2
3.0  0.0    85.0
Name: f12, dtype: float64

f21*
x1   x2
0.4  0.0    51.2
     1.6    51.2
0.8  2.0    51.2
1.6  1.6    51.2
Name: f21, dtype: float64

In [27]:
df

               f12       f21
x1  x2
0.0 0.00   40.0000   64.0000
    0.01   39.9993   63.9204
    0.02   39.9972   63.8416
    0.03   39.9937   63.7636
    0.04   39.9888   63.6864
...            ...       ...
3.0 1.96  127.2576  144.0864
    1.97  127.6899  145.0636
    1.98  128.1244  146.0416
    1.99  128.5611  147.0204
    2.00  129.0000  148.0000

[30351 rows x 2 columns]

In [28]:
df["d12"] = abs(df["f12"]-145)
df["d21"] = abs(df["f21"]-114)
df["max_d"] = [max(ab[0], ab[1]) for ab in list(zip(df["d12"], df["d21"]))]
min_v = min(df["max_d"])
print(min_v)

21.534099999999995

In [29]:
df.loc[df["max_d"] == min_v]

               f12       f21      d12      d21    max_d
x1  x2
3.0 1.87  123.4659  135.3276  21.5341  21.3276  21.5341

In [30]:
df

               f12       f21       d12      d21     max_d
x1  x2
0.0 0.00   40.0000   64.0000  105.0000  50.0000  105.0000
    0.01   39.9993   63.9204  105.0007  50.0796  105.0007
    0.02   39.9972   63.8416  105.0028  50.1584  105.0028
    0.03   39.9937   63.7636  105.0063  50.2364  105.0063
    0.04   39.9888   63.6864  105.0112  50.3136  105.0112
...            ...       ...       ...      ...       ...
3.0 1.96  127.2576  144.0864   17.7424  30.0864   30.0864
    1.97  127.6899  145.0636   17.3101  31.0636   31.0636
    1.98  128.1244  146.0416   16.8756  32.0416   32.0416
    1.99  128.5611  147.0204   16.4389  33.0204   33.0204
    2.00  129.0000  148.0000   16.0000  34.0000   34.0000

[30351 rows x 5 columns]